/* * {
    margin: auto;
    box-sizing: border-box;
}


#initialsBox {
    border-color: #2C5F78;
    height: 50px;
    font-size: 50px;
    text-align: center;
    width: 100px;
    border-radius: 15px;
  }

#card2 {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: auto;
    width: 60%;
    border-radius: 15px;
  }

.buttonHeader {
    background-color: whitesmoke;
    text-decoration: none;
    color: #2C5F78;
}

.timeLeft {
    text-decoration: none;
    color: #2C5F78;
}

#mainDiv {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gridContainer {
    display: grid;

}

#start-quiz {
    border-radius: 15px;
    background-color: #2C5F78;
    color: whitesmoke;
}

#submitScore {
    border-radius: 15px;
    background-color: #2C5F78;
    color: whitesmoke
}


/* button shape */
/* #answerA {
    border-radius: 50%;
}

#answerB {
    border-radius: 50%;
}

#answerC {
    border-radius: 50%;
}

#answerD {
    border-radius: 50%;
}


}

#start-quiz:hover {
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 100px 0 0 0 whitesmoke;
    color: #2C5F78;
}

#submitScore:hover {
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 100px 0 0 0 whitesmoke;
    color: #2C5F78;
}

#answerA:hover {
    transition: color .3s ease-in-out box-shadow .3s ease-in-out;
    box-shadow: inset 100px 0 0 0; 
    color: #0E1E2B;
}

#answerB:hover {
    transition: color .3s ease-in-out box-shadow .3s ease-in-out;
    box-shadow: inset 100px 0 0 0; 
    color: #0E1E2B;
}

#answerC:hover {
    transition: color .3s ease-in-out box-shadow .3s ease-in-out;
    box-shadow: inset 100px 0 0 0; 
    color: #0E1E2B;
}

#answerD:hover {
    transition: color .3s ease-in-out box-shadow .3s ease-in-out;
    box-shadow: inset 100px 0 0 0; 
    color: #0E1E2B;
} */ 

*{
    font-family: Arial, Helvetica, sans-serif;
}


body{  
    text-align: center;
    background-image: linear-gradient(to bottom right, purple, yellow);
    margin: 300px;
    
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: whitesmoke;
    height:auto;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.timer{
    text-decoration: none;
    color: whitesmoke;
}

main{
    margin-top: 70px;
    color: whitesmoke;
 
}

p{
    padding: 0% 25%;
    margin: 30px;
}


button{
    background-color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    padding-top: 20px;
}

/* hover effects  */
button:hover{
    background-color: lightsalmon;
    color: white;
}

.hidden {
    display: none;
}

.optionsArea{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    margin: auto;
}

#question-section {
    font-size: 30px;
    font-weight: bold;

}

input{
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}



